@page "/"
@using OrganizerBlazorApp.Application.Services
@using OrganizerBlazorApp.Domain.Entities
@using OrganizerBlazorApp.Domain.Interfaces
@using OrganizerBlazorApp.Domain.Enums
@using OrganizerBlazorApp.Domain.Extentions
@using OrganizerBlazorApp.Components.UI
@rendermode InteractiveServer
@inject TaskService TaskService
@inject ITaskRepository Repository

<PageTitle>Organizer Dashboard</PageTitle>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>My Business Tasks</h1>
        <div class="d-flex justify-content-end align-items-center mb-4">
          <button class="btn btn-primary mx-2" @onclick="OpenCreatorModal">
            <i class="bi bi-plus-circle me-2"></i>New Task
          </button>
          <button class="btn btn-outline-primary" @onclick="AddSampleTask">
            <i class="bi bi-dice-3"></i>
          </button>
        </div>
    </div>

  @if (units == null)
  {
    <p><em>Loading units...</em></p>
  }
  else if (!units.Any())
  {
    <div class="alert alert-info">
      No units found. Click the button above to add a sample unit!
    </div>
  }
  else
  {
    <div class="row row-cols-1 row-cols-md-2 g-4">
      @foreach (var unit in units.Where(t => t.ParentUnitId == null))
      {
        <UnitCard Unit="unit" OnDeleteClick="DeleteTask" OnStatusToggle="ToggleStatus" OnCardClick="OpenDetailsModal"></UnitCard>
      }
    </div>
  }
</div>


<Modal IsOpen="_isDetailsModalOpen" Title="Details">
  <ChildContent>
    <UnitDetailsView Unit="SelectedUnit"/>
  </ChildContent>
  <FooterContent>
    <button class="btn btn-primary" @onclick="() => SwitchModal()">Edit</button>
    <button class="btn btn-secondary" @onclick="() => _isDetailsModalOpen = false">Close</button>
  </FooterContent>
</Modal>

<EditForm Model="EditedUnit" OnValidSubmit="() => UpdateTaskAsync(EditedUnit)">
  <Modal IsOpen="_isEditorModalOpen" Title="@(EditedUnit.Id == Guid.Empty ? "New Task" : "Edit Task")">
    <ChildContent>
      <DataAnnotationsValidator />
      <UnitEditorForm Unit="EditedUnit"/>
    </ChildContent>
    <FooterContent>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" @onclick="() => _isEditorModalOpen = false">Cancel</button>
    </FooterContent>
  </Modal>
</EditForm>


@code {
  private IEnumerable<TodoUnit>? units;
  private TodoUnit? SelectedUnit { get; set; }
  private TodoUnit EditedUnit { get; set; } = new(){Id = new Guid(new Byte[16])};
  private bool _isDetailsModalOpen { get; set; } = false;
  private bool _isEditorModalOpen { get; set; } = false;

  protected override async Task OnInitializedAsync()
  {
    await LoadTasks();
  }

  private async Task LoadTasks()
  {
    units = await Repository.GetAllAsync();
  }

  private async Task AddSampleTask()
  {
    await TaskService.SeedSampleTaskAsync();
    await LoadTasks();
  }

  // Unit Card delegates
  private async Task UpdateTaskAsync(TodoUnit updatedUnit)
  {
    if(updatedUnit != null)
    {
      if(updatedUnit.Id == Guid.Empty)
      {
        updatedUnit.Id = Guid.NewGuid();
        await TaskService.CreateTaskAsync(updatedUnit);
      }
      await Repository.UpdateAsync(updatedUnit);
    }
    _isEditorModalOpen = false;
    _isDetailsModalOpen = false;
    await LoadTasks();
  }

  private void OpenDetailsModal(TodoUnit unit)
  {
    SelectedUnit = unit;
    _isDetailsModalOpen = true;
  }

  private void OpenCreatorModal()
  {
    EditedUnit = new(){Id = new Guid(new Byte[16])};
    _isEditorModalOpen = true;
  }

  private void SwitchModal()
  {
    if(_isDetailsModalOpen)
    {
      EditedUnit = SelectedUnit.Clone();
      _isDetailsModalOpen = false;
      _isEditorModalOpen = true;
    }
    else{
      _isEditorModalOpen = false;
      _isDetailsModalOpen = true;
    }
  }

  private async Task ToggleStatus(TodoUnit unit)
  {
    await TaskService.ToggleProcessStatusAsync(unit.Id);
    await LoadTasks();
  }

  private async Task DeleteTask(TodoUnit unit)
  {
    await TaskService.DeleteTaskAsync(unit.Id);
    await LoadTasks();
  }
}