@using OrganizerBlazorApp.Domain.Entities

@namespace OrganizerBlazorApp.Components.UI

@if (Attachments != null && Attachments.Any())
{
  <div class="list-group list-group-flush border rounded">
    @foreach (var file in Attachments)
    {
      <div class="list-group-item d-flex justify-content-start align-items-center clickable-item" @onclick="() => SelectMedia(file)">
        @if(IsImage(file.Extension))
        {
          <i class="bi bi-image"></i>
        }
        else if(IsVideo(file.Extension))
        {
          <i class="bi bi-camera-video"></i>
        }
        else
        {
          <i class="bi bi-file-earmark-text-fill"></i>
        }
        <span class="mx-3">@file.FileName</span>
      </div>
    }
  </div>
}

<style>
  .clickable-item:hover { background-color: #f8f9fa !important; border-color: #e9ecef; }
</style>

@code {
  [Parameter] public List<Attachment> Attachments { get; set; } = new();
  [Parameter] public EventCallback<Attachment> OnMediaSelected { get; set; }

  private async Task SelectMedia(Attachment file) => await OnMediaSelected.InvokeAsync(file);

  private bool IsImage(string ext) => new[] { ".jpg", ".jpeg", ".png", ".webp" }.Contains(ext.ToLower());
  private bool IsVideo(string ext) => new[] { ".mp4", ".mov" }.Contains(ext.ToLower());
}