@using OrganizerBlazorApp.Domain.Entities
@using OrganizerBlazorApp.Domain.Enums
@using OrganizerBlazorApp.Application.Services
@using OrganizerBlazorApp.Domain.Interfaces
@inject IMediaService MediaService
@namespace OrganizerBlazorApp.Components.UI

<div class="container">
  <div class="mb-4">
    <label class="form-label">Title</label>
    <InputText @bind-Value="Unit.Title" class="form-control"/>
    <ValidationMessage For="@(() => Unit.Title)" class="text-danger small"/>
  </div>
  <div class="mb-4">
    <label>Deadline</label>
    <input type="datetime-local" class="form-control" @bind="Unit.Deadline" />
  </div>
  <div class="mb-2">
    <label>Attach media (photo, video, docs):</label>
      <MediaGallery Attachments="Unit.Attachments.ToList()" SelectedMedia="_selectedMedia" OnRemoveRequest="DeleteFile" IsEditable="true"/>  
  </div>
  <div class="mb-4">
    <InputFile OnChange="UploadFiles" class="form-control" multiple />
  </div>
  <div class="mt-4 border-top pt-3">
    <label>Subtasks</label>
    <SubtasksList Unit="Unit" IsEditable="true"/>
  </div>
</div>
@code {
  [Parameter] public TodoUnit Unit { get; set; } = new() { Id = new(new Byte[16]), Deadline = DateTime.Now.AddDays(1) };
  private Attachment? _selectedMedia;
  private string _newSubTaskTitle = "";

  protected override void OnInitialized()
  {
    _selectedMedia = Unit.Attachments.FirstOrDefault();
  }
  private async Task UploadFiles(InputFileChangeEventArgs e)
  {
    foreach (var file in e.GetMultipleFiles())
    {
      var savedPath = await MediaService.UploadFileAsync(file.OpenReadStream(10 * 1024 * 1024), file.Name);

      Unit.Attachments.Add(new Attachment
      {
        Id = Guid.NewGuid(),
        FileName = file.Name,
        FilePath = savedPath,
        Extension = Path.GetExtension(file.Name),
        ParentUnit = Unit,
        ParentUnitId = Unit.Id
      });
    }
  }
  private async Task DeleteFile(Attachment selectedAttachment)
  {
    Unit.Attachments.Remove(selectedAttachment);
  }
}